<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
		
	<!--security:http>
		<security:form-login />
	</security:http>

	<security:authentication-manager>	
	</security:authentication-manager-->
	
	<bean id="customUserService" class="com.joo.tutorial.config.UserDetailsService" />
	<bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	
	<security:http>
		<security:intercept-url pattern="/" access="permitAll"/>
		<security:intercept-url pattern="/member" access="hasRole('ROLE_MEMBER')"/>
		<security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
		<security:form-login
			login-page="/user/login"
			username-parameter="email"
			login-processing-url="/user/login-processing"
			default-target-url="/"/>
			
			<!-- 최대 한 개의 세션만 생성되도록 -->
		<security:session-management invalid-session-url="/user/login">
			<security:concurrency-control max-sessions="1"
				expired-url="/user/login"
				error-if-maximum-exceeded="true" />
		</security:session-management>
		
		<security:logout
			logout-url="/logout"
			logout-success-url="/"/>
	</security:http>
	
	<!--security:authentication-manager>	
		<security:authentication-provider>
			<security:user-service>
				<security:user name="aaa" password="aaa" authorities="ROLE_MEMBER"/>
				<security:user name="admin" password="admin" authorities="ROLE_MEMBER, ROLE_ADMIN"/>
			</security:user-service>
			<security:password-encoder hash="bcrypt"/>
			<security:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT ID, PASSWORD, ENABLED FROM USERS WHERE ID=?"
				authorities-by-username-query="SELECT ID, PASSWORD, AUTH as authority FROM USERS WHERE ID=?"
			/>	
		</security:authentication-provider>
	</security:authentication-manager-->
	
	<security:authentication-manager>	
  <security:authentication-provider user-service-ref="customUserService">
  	<security:password-encoder hash="bcrypt"/>
  </security:authentication-provider>
</security:authentication-manager>

</beans>
