<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joo.tutorial.spring.mapper.AccountInfoMapper">
	
	<select id="getAccountCountByIdNumber" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM account_info
		WHERE id_number = #{idNumber}
	</select>
	
	<insert id="insertAccount" parameterType="AccountInfo">
		INSERT INTO account_info 
			(
				account_num,
				id_number,
				password,
				alias,
				sort_order
			)
		VALUES
			(
				#{accountNum},
				#{idNumber},
				#{password},
				#{alias},
				#{sortOrder}
			)
	</insert>
	
	<select id="getAccountInfoByAccountNum" parameterType="String" resultType="AccountInfo">
		SELECT *
		FROM account_info
		WHERE account_num = #{accountNum}
	</select>
	
	<select id="getAllAcountInfoByIdNumber" parameterType="String" resultType="AccountInfo">
		SELECT *
		FROM account_info
		WHERE id_number = #{idNumber}
		ORDER BY sort_order
	</select>
	
	<select id="getCardInfoByAccountNum" parameterType="String" resultType="CardInfo">
		SELECT *
		FROM card_info
		WHERE account_num = #{accountNum}
	</select>
	
	<update id="updateAccount" parameterType="HashMap">
		UPDATE account_info
		SET alias = #{alias}
		WHERE account_num = #{accountNum}
	</update>
	
	<insert id="insertCard" parameterType="CardInfo">
		INSERT INTO card_info 
			(
				card_num,
				account_num
			)
		VALUES
			(
				#{cardNum},
				#{accountNum}
			)
	</insert>
	
	<insert id="insertBankMoneyBook" parameterType="BankMoneyBook">
		INSERT INTO bank_money_book 
			(
				transaction_type,
				amount,
				fee,
				content,
				account_num,
				deposit_account_num
			)
		VALUES
			(
				#{transactionType}::transaction_type,
				#{amount},
				#{fee},
				#{content},
				#{accountNum},
				#{depositAccountNum}
			)
	</insert>
	
	<select id="getBankMoneyBookBySeq" parameterType="int" resultType="BankMoneyBook">
		SELECT *
		FROM bank_money_book
		WHERE seq = #{seq}
	</select>
	
	<update id="upgradeSecurityLevel" parameterType="String">
		UPDATE account_info
		SET security_active = TRUE
		WHERE account_num = #{accountNum}
	</update>	
	
	<select id="getTransferHistory" parameterType="String" resultType="BankMoneyBook">
		SELECT bmb.*, TRUE AS mine, 'minus' AS balance_change
		FROM bank_money_book AS bmb
		LEFT JOIN account_info AS a ON bmb.account_num = a.account_num
		WHERE a.account_num = #{accountNum}
			AND transaction_type != 'DEPOSIT'
		
		UNION ALL
		
		SELECT bmb.*, FALSE AS mine, 'plus' AS balance_change
		FROM bank_money_book AS bmb
		LEFT JOIN account_info AS a ON bmb.deposit_account_num = a.account_num
		WHERE a.account_num = #{accountNum}
		
		UNION ALL
		
		SELECT bmb.*, TRUE AS mine, 'plus' AS balance_change
		FROM bank_money_book AS bmb
		LEFT JOIN account_info AS a ON bmb.account_num = a.account_num
		WHERE a.account_num = #{accountNum}
			AND transaction_type = 'DEPOSIT'
			
		ORDER BY seq DESC
	</select>
	
</mapper>