<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joo.tutorial.spring.mapper.UserInfoMapper">
	
	<insert id="register" parameterType="UserInfo">
		INSERT INTO user_info 
			(
				email,
				password,
				name,
				phone,
				birth_date,
				job,
				address
			)
		VALUES
			(
				#{email},
				#{password},
				#{name},
				#{phone},
				#{birthDate},
				#{job},
				#{address}
			)
	</insert>
	
	<select id="getUserByEmail" parameterType="String" resultType="UserInfo">
		SELECT * 
		FROM user_info 
		WHERE email = #{email}
		LIMIT 1
	</select>
	
	<select id="getUserInfoByUserSeq" parameterType="int" resultType="UserInfo">
		SELECT * 
		FROM user_info 
		WHERE seq = #{userSeq}
	</select>
	
</mapper>